# Configurações padrão (para produção/desenvolvimento)
spring:
  application:
    name: hopeful
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver


  flyway:
 
    baseline-on-migrate: true
    locations: classpath:db/migration 
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none 
springdoc:
  swagger-ui:
    path: /swagger-ui
    enabled: true
    url: /v3/api-docs
    display-request-duration: true
  packages-to-scan: ages.hopeful
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
